<ion-header>
  <div class="header">  
    <ion-row>
      <ion-col>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-title>{{item.nome}}</ion-title>
      </ion-col>
    </ion-row>
  </div>
  </ion-header>

<ion-content>
  
  <ion-row size="12">
    <ion-col *ngFor="let imagem of item.imagens; let ix = index">
      <ion-img [src]="pathImgs + imagem"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      {{ item.detalhes }}
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-row class="footer">
    <ion-col>
      {{item.valor}}
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button (click)="add()" >
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-col>
    
    <ion-col class="ion-text-center">
      {{quantidade}}
    </ion-col>
    
    <ion-col class="ion-text-center">
      <ion-button (click)="remover()" >
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>
    </ion-col>
    
  </ion-row>
</ion-footer>
