.header{
    background-color: rgba(0, 0, 0, 0.815);
    font-family:cursive;
    font-size: 20px;
    color: rgb(13, 138, 160);
  }
.footer{
    background-color: rgba(0, 0, 0, 0.815);
    font-family:cursive;
    font-size: 20px;
    color: rgb(13, 138, 160);
}