<ion-header [translucent]="true">
  <div class="header">
    <ion-row>
      <ion-col size="4">
        <ion-icon name="list-outline"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        Pedidos
      </ion-col>
      <ion-col size="4" class="ion-text-end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="segment" >  
  <ion-segment (ionChange) = "filtrarProdutos($event)">
    <ion-segment-button value="Hamburguer">
      <ion-label>Hamburguer</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Salgados">
      <ion-label>Salgados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Bebidas">
      <ion-label>Bebidas</ion-label>
    </ion-segment-button>
    </ion-segment>
  </div>
   
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-row>
    <ion-col size="6" *ngFor="let item of items; let ix = index">
      <ion-row>
        <ion-col>
          
          <ion-row>
            <ion-col>
              <ion-img [src]="pathImgs + item.imagem"></ion-img>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="nomeComida">
              <strong>{{item.nome}}</strong>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="valor">
              {{item.valor}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="detalhes" (click)="itemsdetails(item)" >
              <span class="botao-detalhes"> Detalhes </span>
            </ion-col>
          </ion-row>


        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button >
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
</ion-footer>
