<ion-header [translucent]="true">
  <div class="header">
    <ion-row>
      <ion-col size="4">
        <ion-icon name="list-outline"></ion-icon>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        Pedidos
      </ion-col>
      <ion-col size="4" class="ion-text-end">
        <ion-icon name="person-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div>  
  <ion-row class="slide">
      <ion-slides>
        <ion-slide>hamburgers</ion-slide>
        <ion-slide>Salgados</ion-slide>
        <ion-slide>Bebidas</ion-slide>
      </ion-slides>
    </ion-row>
  </div>
   
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
