#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.valor{
  font-size: medium;
  text-align: center;

}

.header{
  background-color: rgba(0, 0, 0, 0.815);
  font-family:cursive;
  font-size: 20px;
  color: rgb(13, 138, 160);
}
.segment{
  background-color: rgb(13, 138, 160);
  font-size: 25px;
  color: black;
}

.detalhes{
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  text-align: center;
}